@font-face{
  font-family: kaiti;
  src: url();
}

body {
  background: #EFEFEF;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  width: 100%;
  /* border: 1px solid black; */
  z-index: 10;
  transition: all 0.6s;
  color: #b7b7b7;
}
.top.sticky {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 10px 0;
  color: #3d4451;
}
.top .topNavBar {
  padding: 0 18px;
}

.top .topNavBar ul li {
  float: left;
  margin: 0 18px;
  position: relative;
}
.top .topNavBar ul li.active > a::after,
.top .topNavBar ul li.highlight > a::after {
  content: '';
  display: block;
  position: absolute;
  top:100%;
  left: 0;
  background-color: #e06567;
  height: 3px;
  width: 100%;
  animation: slideMenu 0.4s linear;
}
@keyframes slideMenu {
  0% {
    width: 0;
  }
  100%{
    widows: 100%;
  }
}
.top .topNavBar ul li .submenu {
  display: none;
  position: absolute;
  top: 115%;
  right: 0;
  white-space: nowrap;
  cursor: pointer;
  color: #3d4451;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.top .topNavBar ul li .submenu li {
  margin: 10px 18px;
}
.top .topNavBar ul li.active> .submenu{
  display: block;
  animation: submenuSlide .35s linear;
}
[data-x].highlight {
  /* border: 10px solid red; */
}
[data-x].offset{
  transform: translateY(100px)
}
[data-x]{
  transform: translateY(0);
  transition:all 0.3s;
}
@keyframes submenuSlide {
  0% {
    margin-right: 100%;
  }
  100% {
    margin-right: 0;
  }
}
.top .topNavBar .logo {
  font-family: "Arial Black";
  font-size: 24px;
  /* border: 1px solid green; */
}

.rs {
  margin-right: 4px;
  color: #e6686a;
}

.card {
  color: #9a9da2;
}

.top .topNavBar ul li a {
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 5px;
  /* border: 1px solid green; */
  display: block;
  /*转换为块级padd上下才有效*/
  position: relative;
}


.banner {
  height: 515px;
  background: url(../rs-cover.jpg) center center;
  background-size: cover;
}

.banner .mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.usercard {
  max-width: 940px;
  margin: 0 auto;
  background-color: #ffffff;
  /* border: 1px solid red; */
}

.usercard .welcome {
  background-color: #e6686a;
  padding: 4px 16px;
  color: white;
  display: inline-block;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}

.usercard .welcome .sjx {
  position: absolute;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  left: 4px;
  top: 100%;
}

.usercard .picture {
  float: left;
}

.usercard .text {
  float: left;
  margin-left: 65px;
  width: 475px;
}

.usercard .text h1 {
  margin-top: 18px;
}

.usercard .text hr {
  margin: 20px 0;
}

.usercard .pictureText {
  padding: 50px;
}

.usercard dl dt,
.usercard dl dd {
  float: left;
  padding: 5px 0;
}

.usercard dl dt {
  width: 30%;
  font-weight: bold;
}

.usercard dl dd {
  width: 70%;
  color: #9da0a7;
}

.usercard .media {
  background: #E6686A;
  text-align: center;
}

.usercard .media a {
  display: inline-block;
  /* border: 1px solid red; */
  margin: 16px;
  border-radius: 50%;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
}

.usercard .media a:hover {
  background-color: #CF5D5F;
}

.usercard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}

body main.main {
  margin-top: -335px;
}

p.p-down {
  text-align: center;
}

p.p-down .download {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #cdcfe1;
  background-color: #efefef;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.5s;
}

p.p-down .download:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.self-wrap {
  position: relative;
}

.self-introduction {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.8;
  font-size: 18px;
  font-family:'jdlibianjian1c9c6a9cb9209a5';
}

.skills {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px
}

.skills h2,
.portfolio h2 ,
section.message h2{
  text-align: center;
  margin-bottom: 5px;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}

.skills ol {
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 42px 50px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skills ol li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}

.skills ol li:nth-child(even) {
  float: right;
}

.skills ol li .progressBar {
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 4px 0 40px;
  overflow: hidden;
}

.skills ol li .progressBar .progress {
  height: 100%;
  background: #E6686A;
  width: 70%;
  border-radius: 2px;
  transform: translateX(0);
  transition: all 1s;
}
.skills.offset .progressBar .progress {
  transform: translateX(-100%)
}
section.portfolio {
  text-align: center;
  margin-bottom: 150px;
  position: relative;
}
section.portfolio h2 {
  margin-top: 25px;
  margin-bottom: 25px;
}
section.portfolio .swiper-container {
  width: 668px;
  height: 501px;
  }
section.portfolio .swiper-button-prev,
section.portfolio .swiper-button-next {
  left: 20%;
  right: auto;
  background-color: white;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  text-align: center;
}
section.portfolio .swiper-button-next {
  right: 20%;
  left: auto;
}
section.message  ol{
  max-width: 666px;
  margin: 10px auto;
  border-top: 1px solid #dddddd;
  background: #f4f4f4;
}
section.message  ol>li {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}
section.message form {
  margin: 20px auto 50px;
  text-align: center;
}